<div class="container animate__animated animate__fadeIn h-100">
  <h1 class="display-6 mb-4">Bienvenidos a Atluer</h1>

  <div class="row">
    <div class="col-sm mb-4">
      <div class="card">
        <img src="../../../assets/images/home/costura.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Costura</h5>
          <h6 class="card-subtitle mb-2 text-muted">Tejiendo esperanza</h6>
          <p class="card-text">
            ¿Te gustaría aprender el oficio de la costura? Si te atrae coser
            además te gusta el mundo de la moda, puedes echar un vistazo a nuestro taller de costura.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm mb-4">
      <div class="card">
        <img src="../../../assets/images/home/bordado.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Bordado</h5>
          <h6 class="card-subtitle mb-2 text-muted">Un bordado de sueños</h6>
          <p class="card-text">
            En este taller aprenderás a transferir un dibujo a la tela y será entonces cuando te
            armes de valor, hilo y aguja para practicar los diferentes tipos de puntada.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mb-4">
      <div class="card">
        <img src="../../../assets/images/home/barro.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Barro</h5>
          <h6 class="card-subtitle mb-2 text-muted">Moldea tu futuro</h6>
          <p class="card-text">
            Cuando uno disfruta moldear y crear con las manos el mundo de los objetos cambia.
            Te invitamos a nuestro taller de barro.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm mb-4">
      <div class="card">
        <img src="../../../assets/images/home/manualidades.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Manualidades</h5>
          <h6 class="card-subtitle mb-2 text-muted">Crea ilusiones</h6>
          <p class="card-text">
            Este es un taller muy bonito para elaborar dibujos, pinturas, collages,
            ilustraciones, modelado y plegado de formas.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
